*{
    background-color: rgb(155, 141, 127);
}

h1, h2, h3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 4px 5px 4px black;
    font-style: oblique;
    text-decoration: underline;
    text-shadow: 5px 8px 3px #000000;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(180, 174, 115);
    font-style: normal;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 1.6em;
    word-spacing: 0.6em;
    letter-spacing: 0.1em;

}
ul>li, ol>li {
    color: rgb(34, 32, 27);
    font-family: 'Courier New', Courier, monospace;
   
    font-style: normal;
    text-transform: capitalize;
    text-decoration: underline; 
    font-weight: 600;
    font-size: 1em;
    text-shadow: 2px 2px 2px rgb(150, 145, 100);
}
a:link,a:visited {
    color: yellow;
    font-size: 1.6em;

}
a:active {
    color: red;
}
a:hover {
    color: orange;
    font-size: 25px;
}
input[
    type="text"
]:focus
{
color: blue;
background-color: lightgray;
}
button[
    type="submit"
]:hover
{
    background-color: green;
    color: white;
    font-size: 1em;
}
#my-id {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2em;
    
}
   